h1 {
    color: red;
    text-align: center;
    text-shadow: 4px 4px 2px rgb(71,10,10); /* Horizontal  Vertical Blur Color*/
}

.title {
    color: rgb(255, 165, 0);
}

.greenDiv {
    color: green;
}

#italic {
    color: blue;
}


nav {
    background-color: aquamarine;
    text-align: center;

}

a {
   text-decoration-line: none;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 30px;
}


.container {
    /*border: 5px solid gray;*/
    border: 10px dashed aqua;
    /*margin: 50px; */
    /*margin-top 50px;*/
    /*margins Top Right Bottom Left  (TRBL)  */
    margin: 50px 5px 25px 0px;
    padding: 30px 0px 10px 35px;
}

.box {
    /*display: block;*/
    /* inline - will expand to the size of the text inside of it and will ignore my width and height settings */
    /*  inline-block -  */
    /*display: inline-block;*/  /*Removed becuased it conflicts with the FlexBox Style*/
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: blue;
    
    /*box-shadow: 10px 8px 30px 40px rgb(154, 159, 160) inset;*/
}

.circle-Img {

    border-radius: 50%;
}
img {
    box-shadow: 10px 8px 10px 8px rgb(154, 159, 160);
    /*box-shadow: 10px 8px 10px 8px rgb(154, 159, 160) inset;*/
    /* spread radius */
    /* blur */
    /* color */
    /* inset  - shadow goes inside the image*/
    /* Inset can be used to make a bubble with depth*/
}

.flex {

    margin: 30px;
    border: 3px solid black;
    /*
    display: flex;
    flex-wrap: wrap; */
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /* justify-content: space-between;*/
    /*justify-content: space-around;*/
    
    /*flex-direction: row-reverse;*/
    /*flex-direction: column-reverse;*/

    /*padding: 100px;*/
}

/*
  ---------------------------------------------------------------------------------------------------------
  SECTION CSS ANIMATION TARGETING EACH INDIVISUAL BOX THEN ANIMATE THEM
  ---------------------------------------------------------------------------------------------------------
*/

@keyframes fadeMe {
    0% {

        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


#box1 {
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /*animation-iteration-count: 4;*/
    animation-timing-function: linear;
}


@keyframes rotation {
   0%   { transform: rotate(90deg);  }
   50%  { transform: rotate(180deg);  }
   100% { transform: rotate(360deg);  }
}

#box2 {
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: 10s;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple, orange, yellow, pink, purple);
}

@keyframes getBigger{
 0%   { transform: scale(1);   }
 50%  { transform: scale(2);   }
 100% { transform: scale(0.5); }
}

#box3 {
   /*animation: getBigger 6s 8s ease-in; */
   animation: getBigger infinite 8s linear;
   border-radius: 50%;
   background-color: orange;
}

@keyframes changeColors {

  0%   {background-color: grey;}
  25%  {background-color: purple;}
  50%  {background-color: yellow;}
  75%  {background-color: pink;}
  100% {background-color: grey;}
}


#box4 {
    /*animation : changeColors 7s infinite;*/
    /*animation : changeColors 7s 2s;*/
    animation : changeColors 7s 2s forwards;  /* forwards - will allow the box to keep the last animation state (so grey in this case)*/
}


@keyframes moveBox {
  0%   { left: 0px; top: 0px;}
  25%  { left: 100px; top: 0px;}
  50%  { left: 100px; top: 200px;}
  50%  { left: 0px; top: 200px;}
  100% { left: 0px; top: 0px;}
}

 
#box5 {
   animation: moveBox 6s 3s;
   background-color: red;
   position: relative;
}

/*
 position: relative     --> 
 position: fixed        -->
 position: absolute     -->
*/

#box6 {
    /*position:absolute;*/
    /*position: relative;*/
    /*position: fixed;
    top: 100px;
    left: 200px;
    */
    position: relative;
    top: 10px;
    left: 20px; 
}

html {
  /*
      background-image: url(./images/pexels_sleepy_kitten\ _small_square.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 */
 /* background-image: linear-gradient(to right, blue, green, purple); */
 /*background-image: linear-gradient(to bottom, blue, green, purple);*/
 /*background-image: linear-gradient(blue, green, purple);*/
/* background-image: radial-gradient(blue, green, purple);*/
 
}

/* We can use SVG images  and only part of the image animate */


/*
    -----------------------------------------------------------------------------------------------------------------------------
    CONTACT PAGE STYLING
    -----------------------------------------------------------------------------------------------------------------------------
*/

/*👉form input {
    display: block;
    margin: 30px;
}


form textarea {
    display: block;
    margin: 30px;
}

form button {
    display: block;
    margin: 30px;
}
👈*/

form input, textarea, button {
    display: block;
    margin: 30px;
}

/*
    -----------------------------------------------------------------------------------------------------------------------------
    CONTACT MATERIALIZED PAGE STYLING
    -----------------------------------------------------------------------------------------------------------------------------
*/

.nav-wrapper {
    background-color: blue;
}

👉.contact-box {
    display: flex;
    justify-content: center;
}

.row{
    margin: 30px;
}


.input-field {
    margin:20px;
}


/*
----------------------------------------------------------------------------------------------
CSS GRID STYLES:
----------------------------------------------------------------------------------------------
*/
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    /*background-color: #fff;*/
    background-color: white;
    color: #444;
  }

  .Box {
    /*background-color: #444;*/
    background-color: white;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

  }

  .a {
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
  }
  .c {
    grid-column: col / span 5;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(pink,yellow,purple,orange);
  }
  .d {
    grid-column: col 2 / span  1 ;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;

  }

  .e {
    grid-column: col 4 / span  1;
    grid-row: row 3;
    display: flex;
    justify-content: center;

  }

  .f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(orange, purple, yellow, pink);

  }